body {
    align-items: center;
    background-color: #222;
    color: #CC7;
    display: flex;
    flex-direction: column;
    font-size: 11pt;
    height: 100vh;
    justify-items: center;
    margin: 0;
}

#menu {
    align-items: center;
    background-color: #DDD;
    display: flex;
    color: #000;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    box-shadow: 2pt 2pt 4pt #000, -2pt -2pt 4pt #000;
    font-family: system-ui;
    flex-direction: row;
    padding: 0.25em 0.5em;
}

#menu > * {
    margin: 0.25rem;
}

#menu > #title {
    color: #444;
    line-height: 1;
    padding-right: 1em;
    text-align: right;
}

#menu > #title > #name {
    color: #000;
    font-variant: small-caps;
    font-weight: bold;
}

#menu > #title > #copyright {
    font-size: x-small;
    padding-right: 1em;
}

#menu > .game {
    cursor: pointer;
    filter: grayscale(100%);
    transition: filter 0.1s ease;
}

#menu > .game.running {
    filter: unset;
}

#menu > .game:hover {
    filter: unset;
}

#menu > .game:active {
    filter: brightness(150%);
}

#tv {
    align-items: center;
    background-color: #224;
    border-radius: 2rem;
    box-shadow: 4pt 4pt 8pt #000, -4pt -4pt 8pt #000;
    color: #CCF;
    display: flex;
    flex-direction: column;
    font-family: monospace;
    margin: auto;
    fill-opacity: 50%;
    padding: 1rem;
    text-align: center;
}

#tv > * {
    margin: 1rem;
}

#tv canvas {
    border: 1px solid #000;
    flex: none;
    image-rendering: pixelated;
}

#tv hr {
    background-color: #448;
    border-color: #336;
    width: 100%;
}

#tv pre {
    background-color: #300;
    border: 1px solid #700;
    box-shadow: 4px 4px 8px #200, -4px -4px 8px #200;
    color: #FCC;
    margin: 0;
    overflow: auto;
    padding: 1em;
    text-align: left;
}

#tv pre::first-line {
    font-weight: bold;
}

#tv ul {
    list-style-position: inside;
    padding: 0;
}

#tv > #panel {
    align-items: flex-start;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 0.5rem;
    width: 80%;
}

#tv > #panel > * {
    padding: 0;
}

#tv > #panel > #emblem {
    padding: 0 2rem;
}

#tv > #panel > #readout {
    max-width: 450px;
}
