body {
    align-items: center;
    background-color: #120;
    color: #CC7;
    display: flex;
    flex-direction: column;
    font-family: monospace;
    font-size: 11pt;
    height: 100vh;
    justify-items: center;
    margin: 0;
    text-align: center;
}

#flow {
    align-items: center;
    background-color: #224;
    border-radius: 2rem;
    box-shadow: 4pt 4pt 8pt #000, -4pt -4pt 8pt #000;
    color: #CCF;
    display: inline-flex;
    flex-direction: row;
    margin: auto;
    padding: 1rem;
}

#flow > * {
    margin: 1rem;
}

#flow canvas {
    border: 1px solid #000;
    flex: none;
    image-rendering: pixelated;
    max-width: unset;
}

#flow hr {
    background-color: #448;
    border-color: #336;
    width: 75%;
}

#flow pre {
    background-color: #300;
    border: 1px solid #700;
    box-shadow: 4px 4px 8px #200, -4px -4px 8px #200;
    overflow: auto;
    padding: 1em;
    color: #FCC;
}

#flow ul {
    list-style-position: inside;
    padding: 0;
}

#info {
    max-width: 350px;
}
